<div class="container-fluid">

    <ng-generate *ngIf="data">

        <h1>Title: {{data.item.title}}</h1>
        <div class="blog-post" innerHtml="{{data.item.long_description | linky}}"></div>
        <div class="slider">

            <div *ngIf="counter==1;else elseBlock">
                <img class="responsiveImage" src="{{data.item.gallery_images[0].url}}" alt="First slide">
            </div>

            <ng-template #elseBlock>
                <mdb-carousel [isControls]="true" [animation]="'slide'">
                    <mdb-slide *ngFor="let image of data.item.gallery_images">
                        <img class="responsiveImage" src="{{image.url}}" alt="sliderImage">
                    </mdb-slide>
                </mdb-carousel>
            </ng-template>

        </div>
     

        <ng-generate *ngIf="data.item.videoTitle && data.item.videoUrl">
           <div class="iframe-wraper">
            <iframe class="e2e-iframe-trusted-src"  align="bottom" [src]="videoUrl"></iframe>
        </div>
        </ng-generate>

    </ng-generate>

</div>