<div class="container-fluid">

    <ng-generate *ngIf="data">

        <h1>Title: {{data.item.title}}</h1>
        <p>
            <strong> Long Description :</strong> {{data.item.long_description}}</p>

        <h3> {{data.item.videoUrl}}</h3>

        <div class="slider">
            <ng-generate *ngIf="data.item.gallery_images == 1;else elseBlock">
                <img class="img-fluid"  src="{{data.item.gallery_images.url}}" alt="sliderImage">

            </ng-generate>
        </div>
        <ng-template #elseBlock>
            <mdb-carousel [isControls]="true" [animation]="'slide'">
                <mdb-slide *ngFor="let image of data.item.gallery_images">
                    <img class="img-fluid" src="{{image.url}}" alt="First slide">
                </mdb-slide>

            </mdb-carousel>
        </ng-template>

        <ng-generate *ngIf="data.item.videoUrl && data.item.videoTitle">
            <h1>Video Title: {{data.item.videoTitle}}</h1>
            <iframe width="420" height="315" src="{{data.item.videoUrl}}">
            </iframe>
        </ng-generate>
    </ng-generate>

</div>