h1{
    text-align: center;
}

.slider{
    width: 100%;
    height: 50%;
}
.videoItem{
    height: 100%;
    width: 100%;
}
.slider{
    padding-bottom: 40px;
    display: block;
}

.iframe-wraper{
    text-align:center;  
    width:100%;
}
iframe{
    width: 100%;
    height: 400px;
}
.responsiveImage{
    width: 100%;
   height: 500px;
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { .responsiveImage
{
    width: 100%;
   height: 200px;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 375px) { 
    .responsiveImage{
        width: 100%;
        height: 150px;
    }
}
