<!--
 [ngClass]="{{jsonData.accentColorSecondary}}"
-->
<div *ngIf="jsonData" class="container-fluid" [ngStyle]="{'background': jsonData.accentColorSecondary}">
  <ng-container>

    <div class="header">
      <div class="row">
        <div class="col-md-1">
          <img class="logo" src="{{jsonData.icon.file.url}}" alt="Icon">
        </div>
        <div class="col-md-11">
          <h1>{{jsonData.name}}</h1>
        </div>
      </div>

    </div>

    <div class="description">
      <div class="row">
        <div class="col">
          <p>{{jsonData.description}}</p>
        </div>
      </div>
    </div>

    <div class="category">
      <mat-tab-group *ngIf="jsonData.enable_multiple_lists;else allCategories">
        <div *ngFor="let categor of jsonData.categories | orderBy : 'positionNumber' ">
          <mat-tab *ngIf="categor.active" label="{{categor.name}}">
            <div class="content" *ngFor="let item of jsonData.items | orderBy : 'position' ">
              <div class="items" *ngIf="categor.id==item.categories">
                <mat-card (click)="openDialog(item)">
                  <pre>Title:{{item.title}}</pre>
                  <pre>Description:{{item.description}}</pre>
                  <img class="img-fluid" src="{{item.gallery_images[0].url}}" alt="img">
                </mat-card>
              </div>
            </div>
          </mat-tab>
        </div>
      </mat-tab-group>

      <ng-template #allCategories>
        <div *ngFor="let item of jsonData.items">
            <mat-card (click)="openDialog(item)">
                <pre>Id:{{item.id}}</pre>
                <pre>Title:{{item.title}}</pre>
                <pre>Description:{{item.description}}</pre>
                <img class="imgContent" width="200px" height="200px" src="{{item.gallery_images[0].url}}" alt="img">
              </mat-card>
        </div>
      </ng-template>

    </div>


  </ng-container>
</div>